<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Adventure</title>

  <link rel="stylesheet" href="/public/stylesheets/reset.css">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Titillium+Web:wght@300&family=Turret+Road:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <h1>
            <a href="/">Text Adventure</a>
        </h1>
        <nav>
            <button id="logout" class="btn-no-style">Logout</button>
        </nav>
        {{{ body }}}
    </main>
  </div>

<script src="javascript/logout.js"></script>
<script src="public/javascript/howler.js"></script>
</body>

</html>
