 
 <script defer src="/javascript/game.js"></script>
 
    <div id="changing-background" class="full-page-container background-mainpage">
        <nav>
            <button id="logout" class="login-button login-button-padding">Logout</button>
        </nav>
        <div class="responsive-container margin-top-container">
            <div class="container">
                <div id="text">Text Goes Here</div>
                <div id="option-buttons" class="btn-grid">
                    <button class="btn option-one">Option 1</button>
                    <button class="btn option-two">Option 2</button>
                    <button class="btn option-three">Option 3</button>
                    <button class="btn option-four">Option 4</button>
                </div>
            </div>
        </div>
    </div>
