<div class="document-container">
        <div class="responsive-container">
            <div class="title-container">
                <h1>Agile Peak</h1>
            </div>
            <div class="signup-login-container">
                <div class="forms-container">
                    <div id="button-container" class="button-container">
                        <div id="login-popin" class="login-button login-button-padding"><p>Log In</p></div>
                        <div id="signup-popin" class="signup-button"><p>Signup</p></div>
                    </div>
                    <div id="login-container" class="login-container">
                        <div class="login-title">Log In</div>
                        <form class="login-form">
                            <div>
                                <input type="text" id="username-login" placeholder="Username">
                            </div>
                            <div>
                                <input type="password" id="password-login" placeholder="Password">
                            </div>
                            <div>
                                <button class="login-button" type="submit">Login</button>
                            </div>
                        </form>
                        <div id="signup-instead" class="change-option-signup">Signup Instead</div>
                    </div>
                    <div id="signup-container" class="signup-container">
                        <div class="signup-title">Signup</div>
                        <form class="signup-form">
                            <div>
                                <input type="text" id="username-signup" placeholder="Username">
                            </div>
                            <div>
                                <input type="password" id="password-signup" placeholder="Password">
                            </div>
                            <div>
                                <button class="signup-button" type="submit">Signup</button>
                            </div>
                        </form>
                        <div id="login-instead" class="change-option-signup">Login Instead</div>
                    </div>    
                </div>

            </div>
        </div>
    </div>
    <script src="/public/javascript/login.js"></script>